body {
  margin: 0 auto;
  padding: 0 1rem 100vh 1rem;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  max-width: 1024px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;

  tr:not(:last-child) td {
    border-bottom: 1px solid #000;
  }

  th {
    text-align: left;
  }
  th, td {
    padding: 0.25rem;
  }

  td.line-cell {
    font-weight: 600;
  }

  td.count-cell {
    text-align: center;
  }
}

.header {
  padding: 2rem 0;

  h1 {
    padding: 0;
    margin: 0;
  }
}
